.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    background-color: rgb(235, 243, 243);
    box-shadow: 1px 2px 2px 2px gainsboro;
}
.login-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 10px;
}
.login-input{
    margin: 2px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid orange;
}
.login-input:focus{
  
     border: 2px solid orange;
     outline: 1px solid orange;
}
.login-with{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.login-with-icon{
    display: flex;
    margin-left: 10px;
}
.icons{
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid; padding: 5px;
    border-radius: 3px;
}



@media screen and (max-width:680px) {
    .login-form{
        width: 95%;
    }
    
}